<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}

{% include navigation.html %}

<!--<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image">
</div>-->

<div class="article-author-top homepage">
  {% include author-bio.html %}
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <img src="/images/abhinemani.jpg" width="40%" style="margin:0em 1em 1em 1em; float: right;">
  <p>I'm a fan of technology, government, and interesting ideas.</p>
  <p>I have most recently served as the <strong>City of Los Angeles' first Chief Data Officer</strong>, <a href="http://github.com/abhinemani" target="_blank">building technology</a> to improve the lives of the residents of our second largest city. Before, I helped launch, build, and run a non-profit called <a href="http://codeforamerica.org"><strong>Code for America</strong></a>, whose interesting idea is that a government of the people, by the people, <em>can</em> work in the 21st Century.</p>
  <p>Beyond that, I've been thinking about things, ranging from <a href="https://medium.com/@abhinemani/against-citizens-united-c441f9c2708f" target="_blank">political philosophy</a> and <a href="https://medium.com/@abhinemani/on-boston-politics-and-the-arc-of-civic-innovation-be37621f947f" target="_blank">cities</a> to <a href="https://medium.com/@abhinemani/putting-the-law-in-the-palm-of-your-hand-47f5236da7f1" target="_blank">data-driven policy</a> and <a href="https://medium.com/@abhinemani/small-city-pieces-loosely-joined-5202fb5a93e3" target="_blank">civic tech</a>, and I have gotten the opportunity to <a href="http://abhinemani.com/talks/">travel to around the world</a> to see first-hand how public life everywhere is changing &#8212; which makes me excited about what's ahead.</p>
  <p>I try (my best) to write things down.</p>
  <p>When I do, I'll post <a href="http://medium.com/@abhinemani">them here</a>, along with the standard stuff: <a href="/bio">bio</a>, <a href="/talks">talks</a>, <a href="/press">press mentions</a>, etc.</p>
  <p>For anything else, just ask: <a href="http://twitter.com/abhinemani">@abhinemani</a> or <a href="mailto:abhi.nemani@gmail.com">abhi.nemani@gmail.com</a>.</p>
  <a href="{{ site.url}}/about" class="btn btn-small pull-right">Find out a bit more...</a>
  <div style="clear:both;"></div>
  <h4>Some recent essays</h4>
  <ul>
    <li><a href="https://medium.com/@abhinemani/open-data-civic-engagement-and-delivery-28b990f321ce" target="_blank"><strong>Open Data, Civic Engagement & Delivery:</strong> Did We Go the Wrong Way?</a></li>
    <li><a href="https://medium.com/@abhinemani/two-kinds-of-emp-25706bf36df4" target="_blank"><strong>Building for Both Sides of the Counter:</strong> Two Kinds of Empathy</a></li>
    <li><a href="https://medium.com/@abhinemani/small-city-pieces-loosely-joined-5202fb5a93e3" target="_blank"><strong>Small (City) Pieces, Loosely Joined:</strong> Stiching Together Civic Tech</a></li>
    <li><a href="https://medium.com/@abhinemani/ubers-as-ambulances-4e3a2db3880b" target="_blank"><strong>Ubers as Ambulances?</strong> Ideas to Make Consumer Apps More Civic</a></li>
  </ul>
    <a href="http://medium.com/@abhinemani" class="btn btn-small pull-right" target="_blank">Blog</a>
  <div style="clear:both;"></div>
  <h4>Some notable press</h4>
  
  {% for post in site.tags.featured %}  
      <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.thumb }}" alt="{{ page.title }} image" width="100px" style="float: left; margin: 10px;"></a>
  {% endfor %}
  <div style="clear:both;"></div>
  
  <a href="/press" class="btn btn-small pull-right">More Press Clips</a>
  <div style="clear:both;"></div>
  
  <div class="article-author-bottom">
    <hr />
    {% include author-bio.html %}
  </div>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}
  
</body>
</html>
