<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}

{% include navigation.html %}

<!--<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image">
</div>-->

<div class="article-author-top homepage">
  {% include author-bio.html %}
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <p>I'm a fan of technology, government, and interesting ideas.</p>
  <p>For the past four years, I helped build and run a non-profit called <a href="http://codeforamerica.org">Code for America</a>, whose interesting idea is that technology can change government.</p>
  <p>Beyond that, I've been thinking about things ranging from <a href="http://abhinemani.com/essays/the-obama-campaign-2-0/">political philosophy</a> and <a href="http://abhinemani.com/essays/bowling-alone-and-living-with-others/">civic society</a> to <a href="http://abhinemani.com/designs/essays/code-the-next-chapter-of-american-history/">design</a> and <a href="http://abhinemani.com/press/big-startup-wave/">startups</a>, and I have gotten the opportunity to <a href="http://abhinemani.com/talks/">travel to cities</a> across the country and around the world to learn what public life in the 21st Century looks like &#8212; which makes me excited about what's ahead.</p>
  <p>I (unsuccessfully) try to write things down.</p>
  <p>When I do, however, I'll post <a href="/blog">them here</a>, along with the standard stuff: <a href="/bio">bio</a>, <a href="/talks">talks</a>, <a href="/press">press mentions</a>, etc.</p>
  <p>For anything else, just ask: <a href="http://twitter.com/abhinemani">@abhinemani</a> or <a href="mailto:abhi.nemani@gmail.com">abhi.nemani@gmail.com</a>.</p>
  <a href="{{ site.url}}/about" class="btn btn-small pull-right">Find out a bit more...</a>
  <div style="clear:both;"></div>
  <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@abhinemani">abhi nemani</a>
  <div style="clear:both;"></div>
  <div class="article-author-bottom">
    <hr />
    {% include author-bio.html %}
  </div>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}
  
</body>
</html>
