<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}

{% include navigation.html %}

<!--<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image">
</div>-->

<div class="article-author-top">
  {% include author-bio.html %}
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <p>I'm a fan of technology, government, and interesting ideas.</p>
  <p>For over three years, I've been helping run a non-profit called <a href="http://codeforamerica.org">Code for America</a>, whose interesting idea is that technology can change government.</p>
  <p>I (unsuccessfully) try to write things down.</p>
  <p>When I do, however, I'll post <a href="/articles">them here</a>, along with the standard stuff: <a href="/bio">bio</a>, <a href="/talks">talks</a>, <a href="/press">press mentions</a>, etc.</p>
  <p>For anything else, best just to ask: <a href="http://twitter.com/abhinemani">@abhinemani</a>.</p>
  <a href="{{ site.url}}/articles" class="btn btn-small pull-right">View all posts</a>
  <h3>&nbsp;</h3>
  <hr />
  {% for post in site.posts limit:10 %}    
  <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <h2 itemprop="headline"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
    <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
  </article>
  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}
  
</body>
</html>
