<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class="articles" itemscope itemtype="http://schema.org/WebPage">

{% include chrome-frame.html %}

{% include navigation.html %}

<div class="image-wrap">
  <div class="headline-wrap">
    <h1>{{ page.title }}</h1>
    {% if page.tagline %}<h2 class="hidden-phone">{{ page.tagline }}</h2>{% endif %}
  </div><!--/ .headline-wrap -->
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image">
</div><!-- /.image-wrap -->

<div class="article-author-top">
  {% include author-bio.html %}
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
	{{ content }}
	<div id="photogrid">
	</div>
	{% raw %}
	<script id="photogrid" type="text/html">
		<ul>
			{{#rows}}
			<li>
				{{venue}}, <em><strong>{{title}}</strong></em> <small><a href="{{video}}" class="talk-link" target="_blank">[video]</a> <a href="{{deck}}" class="talk-link" target="_blank">[deck]</a> <a href="{{press}}" class="talk-link" target="_blank">[press]</a> </small>
			</li>
			{{/rows}}
		</ul>
	</script>
	<script type="text/javascript">
	  document.addEventListener('DOMContentLoaded', function() {
	  	var URL = "1LwQPj-VHK37ecQZ0VUwOcgbIAXBqYHMK8zRyEus-byQ"
	  	Tabletop.init( { key: URL, callback: showInfo, simpleSheet: true, } )
	  })
	  function showInfo(data) {
	    var html = Sheetsee.ich.photogrid({'rows': data})
	    $('#photogrid').html(html)
	    var optionsJSON = ["venue"]
	      $('#photogrid a.talk-link').each(function() {
	          if($(this).attr('href') === '' || $(this).text() === 'N/A') {
	              $(this).addClass("disabled");
	          }
		  });
	     }			
	</script>
    {% endraw %}
    <a markdown="0" href="mailto:abhinemani@gmail.com" class="btn">Drop me a line</a>
    <footer role="contentinfo">
      <div class="article-author-bottom">
		<hr>
        {% include author-bio.html %}
      </div>
    </footer>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include scripts.html %}
  
</body>
</html>
